{% extends "::base.html.twig" %}

{% block title %}AppBundle:Object:new{% endblock %}

{% block body %}

    <div class="row">
        <div class="content z-depth-1 col l6 offset-l3" >
            <legend class="login"> Keys</legend>
            <!--Debut Content!-->
            <form >
                <div class="row">
                    <div class=" col l12 m12 s12">
                        <legend class="login"> Public Key :</legend>
                        <p>  {{ public }}    </p>

                    </div>
                    <div class=" col l12 m12 s12">
                        <legend class="login"> Private Key :</legend>
                        <p>  {{ private }}    </p>
                    </div>
                    <a class="waves-effect waves-light btn right" href="{{ path('submissions') }}"><i class="material-icons right">done</i>Submissions</a>
                </div>
            </form>
            <!-- fin Content!-->



        </div>

    </div>
{% endblock %}
