html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
html, body{
    height: 100%;
}
*{
    box-sizing: border-box;
    line-height: 1.6em;
}
a{
    color: inherit;
}
/* devices size */
/* smartphones */
/* tablets */
/* desktops */
.button{
    background-color: #0ec1f6;
    padding: 10px 15px;
    border-radius: 3px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: "Titillium Web";
    cursor: pointer;
}
.button:hover{
    background-color: rgb(4, 95, 123);
}
a{
    text-decoration: none;
}
.button-sm{
    padding: 4px 15px;
}
/*
a.button {
	height: 35px;
	line-height: 35px;
	padding-top: 0px;
}*/
.textarea{
    height: $textareaHeight;
    display: block;
    width: 100%;
    resize: none;
    color: #444;
}
input[type="submit"], button[type="submit"], input[type="button"], textarea{
    border: none;
}
.select select{
    width: 100%;
    height: $height_select;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    outline: none;
    background: url('../img/icons/ic_arrow.png') no-repeat right white;
    /*border: 1px solid $form_border_color;*/
    border: none;
    outline: none;
    color: #444;
}
option{
    outline: none;
}
.input-bordered{
    height: $height_select;
    border: 1px solid #CCC;
    border-radius: $border_radius_select;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    color: #444;
}
.inline-select{
    height: $height_select;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    outline: none;
    background: url('../img/icons/ic_arrow.png') no-repeat right white;
    border: 1px solid #CCC;
    border-radius: $border_radius_select;
    padding-left: 6px;
    display: inline-block;
    padding-right: 28px;
    outline: none;
    color: #444;
}
.shaddow{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.description{
    color: #444;
    font-size: small;
}
a{
    cursor: pointer;
}
.truncate{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.textarea-bordered{
    height: $textareaHeight;
    border: 1px solid #CCC;
    border-radius: $border_radius_select;
    padding: 4px;
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    resize: none;
    color: #444;
}
.textarea-bordered:focus{
    border: 2px solid #CCC;
    padding: 3px;
}
.textarea-bordered:invalid{
    box-shadow: none;
}
input:required:invalid, input:focus:invalid{
    background-image: url('../img/icons/ic_error.png');
    background-repeat: no-repeat;
    background-position: right 10px;
    -webkit-transition: background 0s;
    transition: background 0s;
    padding-right: 25px;
}
input:required:valid{
    background-image: url("./img/icons/ic_check.png");
    background-repeat: no-repeat;
    background-position: right 10px;
    -webkit-transition: background 0s;
    transition: background 0s;
    padding-right: 25px;
}
.dl{}
.dl dt{
    font-weight: bold;
}
.dl dd{
    margin-bottom: 8px;
}
.dl dd:last-child{
    margin-bottom: 0px;
}
.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
.l1, .l2, .l3, .l4, .l6, .l12, .m1, .m2, .m3, .m4, .m6, .s12, .s1, .s2, .s3, .s4, .s6, .s12{
    margin-bottom: 10px;
}
.divider{
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: 4px 0px;
}
small{
    font-size: small;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body#bodyIndex{
    background: url('index.jpg') no-repeat center fixed;
    background-size: cover;
}

.header_nav_list_item{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    margin-right: 12px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.header_nav_list_item:last-child{
    margin-right: 0px;
}

.header_nav_list{
    padding: 0 40px;
    display: inline-block;
}

.header_index{
    position: absolute !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 30;
    background-color: transparent !important;
}

.header_nav_list_item:hover{
    color: rgba(255,255,255,1);
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255,255,255,1);
}

.header_title_index{
    background-color: transparent !important;
}

.header_title{
    color: rgba(255,255,255,0.7);
    display: inline-block;
    /*position: absolute;
	left: 0px;
	top: 0px;*/
    font-weight: bold;
    float: left;
}

.index_content{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 10;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.index_content_title{
    margin-bottom: 40px;
    font-size: 35px;
    color: rgba(255,255,255,0.7);
}

.header{
    font-size: 18px;
    text-align: right;
    position: relative;
    height: 60px;
    line-height: 60px;
    font-family: "Roboto";
}

.trans{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #2C3C4D;
    opacity: 0.5;
    z-index: 4;
}

.header_title{
    min-width: 180px;
    text-align: center;
    padding: 0 40px;
}

@media screen and (max-width: 767px){
    .s12{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 12/12 - (30px - 30px * 12/12));
        width: calc(99.99% * 12/12 - (30px - 30px * 12/12));
    }
    .s12:nth-child(n){
        margin-right: 30px;
    }
    .s12:last-child{
        margin-right: 0;
    }
    .s12:nth-child(1n){
        margin-right: 0;
    }
    .s11{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 11/12 - (30px - 30px * 11/12));
        width: calc(99.99% * 11/12 - (30px - 30px * 11/12));
    }
    .s11:nth-child(n){
        margin-right: 30px;
    }
    .s11:last-child{
        margin-right: 0;
    }
    .s11:nth-child(1n){
        margin-right: 0;
    }
    .s10{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 10/12 - (30px - 30px * 10/12));
        width: calc(99.99% * 10/12 - (30px - 30px * 10/12));
    }
    .s10:nth-child(n){
        margin-right: 30px;
    }
    .s10:last-child{
        margin-right: 0;
    }
    .s10:nth-child(1n){
        margin-right: 0;
    }
    .s9{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 9/12 - (30px - 30px * 9/12));
        width: calc(99.99% * 9/12 - (30px - 30px * 9/12));
    }
    .s9:nth-child(n){
        margin-right: 30px;
    }
    .s9:last-child{
        margin-right: 0;
    }
    .s9:nth-child(1n){
        margin-right: 0;
    }
    .s8{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 8/12 - (30px - 30px * 8/12));
        width: calc(99.99% * 8/12 - (30px - 30px * 8/12));
    }
    .s8:nth-child(n){
        margin-right: 30px;
    }
    .s8:last-child{
        margin-right: 0;
    }
    .s8:nth-child(1n){
        margin-right: 0;
    }
    .s7{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 7/12 - (30px - 30px * 7/12));
        width: calc(99.99% * 7/12 - (30px - 30px * 7/12));
    }
    .s7:nth-child(n){
        margin-right: 30px;
    }
    .s7:last-child{
        margin-right: 0;
    }
    .s7:nth-child(1n){
        margin-right: 0;
    }
    .s6{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 6/12 - (30px - 30px * 6/12));
        width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
    }
    .s6:nth-child(n){
        margin-right: 30px;
    }
    .s6:last-child{
        margin-right: 0;
    }
    .s6:nth-child(2n){
        margin-right: 0;
    }
    .s5{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 5/12 - (30px - 30px * 5/12));
        width: calc(99.99% * 5/12 - (30px - 30px * 5/12));
    }
    .s5:nth-child(n){
        margin-right: 30px;
    }
    .s5:last-child{
        margin-right: 0;
    }
    .s5:nth-child(2n){
        margin-right: 0;
    }
    .s4{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 4/12 - (30px - 30px * 4/12));
        width: calc(99.99% * 4/12 - (30px - 30px * 4/12));
    }
    .s4:nth-child(n){
        margin-right: 30px;
    }
    .s4:last-child{
        margin-right: 0;
    }
    .s4:nth-child(3n){
        margin-right: 0;
    }
    .s3{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 3/12 - (30px - 30px * 3/12));
        width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
    }
    .s3:nth-child(n){
        margin-right: 30px;
    }
    .s3:last-child{
        margin-right: 0;
    }
    .s3:nth-child(4n){
        margin-right: 0;
    }
    .s2{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 2/12 - (30px - 30px * 2/12));
        width: calc(99.99% * 2/12 - (30px - 30px * 2/12));
    }
    .s2:nth-child(n){
        margin-right: 30px;
    }
    .s2:last-child{
        margin-right: 0;
    }
    .s2:nth-child(6n){
        margin-right: 0;
    }
    .s1{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 1/12 - (30px - 30px * 1/12));
        width: calc(99.99% * 1/12 - (30px - 30px * 1/12));
    }
    .s1:nth-child(n){
        margin-right: 30px;
    }
    .s1:last-child{
        margin-right: 0;
    }
    .s1:nth-child(12n){
        margin-right: 0;
    }
    .hide-sm{
        /*display: none;*/
    }
}

@media screen and (min-width: 768px){
    .m12{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 12/12 - (30px - 30px * 12/12));
        width: calc(99.99% * 12/12 - (30px - 30px * 12/12));
        margin-bottom: 10px;
    }
    .m12:nth-child(n){
        margin-right: 30px;
    }
    .m12:last-child{
        margin-right: 0;
    }
    .m12:nth-child(1n){
        margin-right: 0;
    }
    .m11{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 11/12 - (30px - 30px * 11/12));
        width: calc(99.99% * 11/12 - (30px - 30px * 11/12));
        margin-bottom: 10px;
    }
    .m11:nth-child(n){
        margin-right: 30px;
    }
    .m11:last-child{
        margin-right: 0;
    }
    .m11:nth-child(1n){
        margin-right: 0;
    }
    .m10{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 10/12 - (30px - 30px * 10/12));
        width: calc(99.99% * 10/12 - (30px - 30px * 10/12));
        margin-bottom: 10px;
    }
    .m10:nth-child(n){
        margin-right: 30px;
    }
    .m10:last-child{
        margin-right: 0;
    }
    .m10:nth-child(1n){
        margin-right: 0;
    }
    .m9{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 9/12 - (30px - 30px * 9/12));
        width: calc(99.99% * 9/12 - (30px - 30px * 9/12));
        margin-bottom: 10px;
    }
    .m9:nth-child(n){
        margin-right: 30px;
    }
    .m9:last-child{
        margin-right: 0;
    }
    .m9:nth-child(1n){
        margin-right: 0;
    }
    .m8{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 8/12 - (30px - 30px * 8/12));
        width: calc(99.99% * 8/12 - (30px - 30px * 8/12));
        margin-bottom: 10px;
    }
    .m8:nth-child(n){
        margin-right: 30px;
    }
    .m8:last-child{
        margin-right: 0;
    }
    .m8:nth-child(1n){
        margin-right: 0;
    }
    .m7{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 7/12 - (30px - 30px * 7/12));
        width: calc(99.99% * 7/12 - (30px - 30px * 7/12));
        margin-bottom: 10px;
    }
    .m7:nth-child(n){
        margin-right: 30px;
    }
    .m7:last-child{
        margin-right: 0;
    }
    .m7:nth-child(1n){
        margin-right: 0;
    }
    .m6{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 6/12 - (30px - 30px * 6/12));
        width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
        margin-bottom: 10px;
    }
    .m6:nth-child(n){
        margin-right: 30px;
    }
    .m6:last-child{
        margin-right: 0;
    }
    .m6:nth-child(2n){
        margin-right: 0;
    }
    .m5{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 5/12 - (30px - 30px * 5/12));
        width: calc(99.99% * 5/12 - (30px - 30px * 5/12));
        margin-bottom: 10px;
    }
    .m5:nth-child(n){
        margin-right: 30px;
    }
    .m5:last-child{
        margin-right: 0;
    }
    .m5:nth-child(2n){
        margin-right: 0;
    }
    .m4{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 4/12 - (30px - 30px * 4/12));
        width: calc(99.99% * 4/12 - (30px - 30px * 4/12));
        margin-bottom: 10px;
    }
    .m4:nth-child(n){
        margin-right: 30px;
    }
    .m4:last-child{
        margin-right: 0;
    }
    .m4:nth-child(3n){
        margin-right: 0;
    }
    .m3{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 3/12 - (30px - 30px * 3/12));
        width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
        margin-bottom: 10px;
    }
    .m3:nth-child(n){
        margin-right: 30px;
    }
    .m3:last-child{
        margin-right: 0;
    }
    .m3:nth-child(4n){
        margin-right: 0;
    }
    .m2{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 2/12 - (30px - 30px * 2/12));
        width: calc(99.99% * 2/12 - (30px - 30px * 2/12));
        margin-bottom: 10px;
    }
    .m2:nth-child(n){
        margin-right: 30px;
    }
    .m2:last-child{
        margin-right: 0;
    }
    .m2:nth-child(6n){
        margin-right: 0;
    }
    .m1{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 1/12 - (30px - 30px * 1/12));
        width: calc(99.99% * 1/12 - (30px - 30px * 1/12));
        margin-bottom: 10px;
    }
    .m1:nth-child(n){
        margin-right: 30px;
    }
    .m1:last-child{
        margin-right: 0;
    }
    .m1:nth-child(12n){
        margin-right: 0;
    }
    .hide-md{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .l12{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 12/12 - (30px - 30px * 12/12));
        width: calc(99.99% * 12/12 - (30px - 30px * 12/12));
    }
    .l12:nth-child(n){
        margin-right: 30px;
    }
    .l12:last-child{
        margin-right: 0;
    }
    .l12:nth-child(1n){
        margin-right: 0;
    }
    .l11{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 11/12 - (30px - 30px * 11/12));
        width: calc(99.99% * 11/12 - (30px - 30px * 11/12));
        margin-bottom: 10px;
    }
    .l11:nth-child(n){
        margin-right: 30px;
    }
    .l11:last-child{
        margin-right: 0;
    }
    .l11:nth-child(1n){
        margin-right: 0;
    }
    .l10{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 10/12 - (30px - 30px * 10/12));
        width: calc(99.99% * 10/12 - (30px - 30px * 10/12));
        margin-bottom: 10px;
    }
    .l10:nth-child(n){
        margin-right: 30px;
    }
    .l10:last-child{
        margin-right: 0;
    }
    .l10:nth-child(1n){
        margin-right: 0;
    }
    .l9{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 9/12 - (30px - 30px * 9/12));
        width: calc(99.99% * 9/12 - (30px - 30px * 9/12));
        margin-bottom: 10px;
    }
    .l9:nth-child(n){
        margin-right: 30px;
    }
    .l9:last-child{
        margin-right: 0;
    }
    .l9:nth-child(1n){
        margin-right: 0;
    }
    .l8{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 8/12 - (30px - 30px * 8/12));
        width: calc(99.99% * 8/12 - (30px - 30px * 8/12));
        margin-bottom: 10px;
    }
    .l8:nth-child(n){
        margin-right: 30px;
    }
    .l8:last-child{
        margin-right: 0;
    }
    .l8:nth-child(1n){
        margin-right: 0;
    }
    .l7{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 7/12 - (30px - 30px * 7/12));
        width: calc(99.99% * 7/12 - (30px - 30px * 7/12));
    }
    .l7:nth-child(n){
        margin-right: 30px;
    }
    .l7:last-child{
        margin-right: 0;
    }
    .l7:nth-child(1n){
        margin-right: 0;
    }
    .l6{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 6/12 - (30px - 30px * 6/12));
        width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
    }
    .l6:nth-child(n){
        margin-right: 30px;
    }
    .l6:last-child{
        margin-right: 0;
    }
    .l6:nth-child(2n){
        margin-right: 0;
    }
    .l5{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 5/12 - (30px - 30px * 5/12));
        width: calc(99.99% * 5/12 - (30px - 30px * 5/12));
    }
    .l5:nth-child(n){
        margin-right: 30px;
    }
    .l5:last-child{
        margin-right: 0;
    }
    .l5:nth-child(2n){
        margin-right: 0;
    }
    .l4{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 4/12 - (30px - 30px * 4/12));
        width: calc(99.99% * 4/12 - (30px - 30px * 4/12));
    }
    .l4:nth-child(n){
        margin-right: 30px;
    }
    .l4:last-child{
        margin-right: 0;
    }
    .l4:nth-child(3n){
        margin-right: 0;
    }
    .l3{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 3/12 - (30px - 30px * 3/12));
        width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
    }
    .l3:nth-child(n){
        margin-right: 30px;
    }
    .l3:last-child{
        margin-right: 0;
    }
    .l3:nth-child(4n){
        margin-right: 0;
    }
    .l2{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 2/12 - (30px - 30px * 2/12));
        width: calc(99.99% * 2/12 - (30px - 30px * 2/12));
    }
    .l2:nth-child(n){
        margin-right: 30px;
    }
    .l2:last-child{
        margin-right: 0;
    }
    .l2:nth-child(6n){
        margin-right: 0;
    }
    .l1{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: -webkit-calc(99.99% * 1/12 - (30px - 30px * 1/12));
        width: calc(99.99% * 1/12 - (30px - 30px * 1/12));
    }
    .l1:nth-child(n){
        margin-right: 30px;
    }
    .l1:last-child{
        margin-right: 0;
    }
    .l1:nth-child(12n){
        margin-right: 0;
    }
    .hide-lg{
        display: none;
    }
}
